// Core Services
 spawn-at-startup "pipewire"
// spawn-at-startup "wireplumber"
 spawn-at-startup "pipewire-pulse"
// spawn-at-startup "walker" "--gapplication-service"

// Desktop Environment Utils
// spawn-at-startup "nm-applet"
// spawn-at-startup "blueman-applet"


// Productivity & Shell
spawn-sh-at-startup "reload-portal.sh"
spawn-sh-at-startup "noctalia"

// Clipboard Management
// spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
// spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
