layout {

    focus-ring {
        active-color   "#677be4"
        inactive-color "#10152d"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#677be4"
        inactive-color "#10152d"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#10152d70"
    }

    tab-indicator {
        active-color   "#677be4"
        inactive-color "#0c208d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#677be480"
    }
}

recent-windows {
    highlight {
        active-color "#677be4"
        urgent-color "#fd4663"
    }
}
